.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color-secundary);
  padding: 18px 24px;
  width: 100%;
  max-width: 380px; 
  margin-bottom: auto; 
  box-sizing: border-box;

  transition: transform 0.3s, box-shadow 0.3s;  
}

.container:hover {
  transform: translateY(-10px);  
  box-shadow: 0 20px 20px rgba(4, 21, 45, 0.6);  
}

.imageWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 26px;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  height: auto;
  max-width: 380px; 
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer; 
  transition: transform 0.3s;  
}

.image:hover {
  transform: scale(1.05);  
}

.title {
  font-size: 1.75rem; 
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 10px;
}

.description {
  margin-top: 6px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 20px;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  justify-content: center;
}

.skill {
  font-size: 1rem; 
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 6px 12px;
  color: var(--color-text);
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.link:hover {
  color: aqua;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem; 
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 10px 20px;
}

@media screen and (max-width: 830px) {
  .container {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .imageWrapper {
      flex-direction: column;
  }

  .image {
      max-width: 100%;
  }
}
