.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: var(--color-dark);
    border-radius: 15px;
    padding: 40px;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    margin-bottom: 40px;
}

.projects {
    margin-top: 37px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
    width: 100%;
}
    